.mainTitle{
    color: purple;
    font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
    text-shadow: 3px 3px 3px #fff;
}

.countdown{
    color: purple;
    font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
    text-shadow: 3px 3px 3px #fff;
    letter-spacing: 30px;
}

.countdown-label{
    color: purple;
    font: 400 50px/1.2 'Merienda One', Helvetica, sans-serif;
    text-shadow: 3px 3px 3px #fff;

}