form {
    color: purple;
    font: 400 26px/1.2 'Merienda One', Helvetica, sans-serif;
    text-shadow: 3px 3px 3px #fff;
    padding-bottom: 15px;
}

input {
    color: purple;
    font: 400 26px/1.2 'Merienda One', Helvetica, sans-serif;
    text-shadow: 3px 3px 3px #fff;
}

.formContainer {
    padding-bottom: 15px;
}

.smallFont {
    font: 400 12px/1.2 'Merienda One', Helvetica, sans-serif;
}