ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
    line-height: 275px;
}

li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 14px 16px;
    text-decoration: none;
    width: 58%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
}

.table {
	display: table;   /* Allow the centering to work */
    margin: 0 auto;
    width: 80%;
}

@media only screen and (max-width: 1218px) {
    li a {
        font-size: 10px;
    }
    .table {
        width: 100%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        text-align: center;
        line-height: 25px;
    }
}