ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
    line-height: 100px;
    padding-bottom: 20px;
}

li {
    float: left;
    width: 15%;
    margin-right: 15px;
}

.Nav {
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 24px;
    position: relative;
  }
  .Nav:before, .Nav:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 80%;
    z-index: -1;
  }
  .Nav:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .Nav:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }

  .Nav2 {
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 24px;
    position: relative;
  }
  .Nav2:after, .Nav2:before {
    content: "";
    height: 98%;
    position: absolute;
    width: 80%;
    z-index: -1;
  }
  .Nav2:after {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .Nav2:before {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }

li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    width: 70%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
}

.table {
	display: table;   /* Allow the centering to work */
    margin: 0 auto;
    width: 80%;
}

@media only screen and (max-width: 1218px) {
    li a {
        font-size: 10px;
    }
    .table {
        width: 100%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        text-align: center;
        line-height: 25px;
    }
}