.App {
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 24px;
  position: relative;
  width: 80%;
  margin-top: 75px;
}
.App:before, .App:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.App:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.App:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

