html { 
  background: url(./leaf-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: "Harabara Bold";
  src: url("../src/styles/fonts/billy-scription/billy_scriptian-webfont.eot");
  src: 
  url("../src/styles/fonts/billy-scription/billy_scriptian-webfont.woff") format("woff"),
  url("../src/styles/fonts/billy-scription/billy_scriptian-webfont.svg") format("svg");
  }
